html {
    height: 100%;
}

body {
    height: 100%;
}

main {
    margin: auto;
    width: 100%;
    max-width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav {
    --size: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 40rem;
    overflow: auto;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    text-decoration: none;
    color: #333;

    width: var(--size);
    height: var(--size);
}